:root[data-theme="theme-light"] {
    --bg-color: #FFF;
    --primary: #2C3C4B;
    --secondary: #1C9A97;
}
:root[data-theme="theme-dark"] {
    --bg-color: #2C3C4B;
    --primary: #fff;
    --secondary: #1C9A97;
}

@font-face {
    font-family: "Mundial";
    src: local("Mundial"),
     url(../font/MundialLight.otf) format("opentype");
}

body{
    background-color: var(--bg-color);
    transition: 1s;
}

h1, h2, h3, h4, h5, h6, p, a, span, button{
    color: var(--primary);
    transition: 1s;
    font-family: "Mundial";
} 

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-size: 1.7rem;
}

.container_button{
    display: flex;
    justify-content: center;
}

.button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--secondary);
    color: white;
    text-decoration: none;
}

